<h1>My Collections</h1>

<%= form_tag(:controller => "collections", :action => "index", :method => "post") do %>

<table class="table table-striped">
<tr>
  <th>Collection</th>
  <th>Associated Courses</th>
  <th></th>
</tr>

<% if @collections.count > 0 %>

    <% @collections.each do |c| %>
      <% if c.name.nil? %>
      <% else %>
          <tr>
            <input type="hidden" name="id[]" value=<%= c.id %>>
            <td><input type="text" name="collection_name[]" value="<%= c.name %>"></td>
            <td><%= c.total %></td>
            <td><%= link_to 'Destroy', c, confirm: 'Are you sure?', method: :delete, :class => 'btn btn-danger' %></td>
          </tr>
        <% end %>
    <% end %>
<% end %>

<tr>
  <td><input type="text" placeholder="new collection name" name="new_collection"></td>
  <td>0</td>
  <td></td>
</tr>
</table>

  <fieldset class="form-actions">
    <input class="action input_action  btn btn-primary" name="commit" type="submit" value="Save" />
  </fieldset>

<% end %>