<div class="page-header">
<h1 class="page-title">Profile</h1>
</div>

<%= semantic_form_for @user, :url => {:action => "update"} do |f| %>

    <%= f.inputs do %>
        <%= f.input  :email, :as => :email %>
        <%= f.input  :username %>
        <%= f.input  :password, :input_html => { :placeholder => 'leave blank if no change', :autocomplete => "off" }, :label => 'New Password' %>
        <%= f.input  :password_confirmation,  :label => 'New Password Confirmation' %>
        <%= f.input  :current_password, :input_html => { :placeholder => 'need password to save changes' } %>
    <% end %>

    <%= f.actions do %>
        <%= f.action :submit, :label => 'Save' %>
    <% end %>

<% end %>

