<h2>Sign Up</h2></br>


<%= semantic_form_for @user, :url => {:action => "create"} do |f| %>

  <%= f.inputs :email, :username, :password, :password_confirmation %>
    <%= f.actions do %>
        <%= f.action :submit, :label => 'Save' %>
    <% end %>

<% end %>

<%= render "links" %>
