<div class="page-header">
<h1 class="page-title">Registrations - <span class="post-title"><%= link_to @course.title, edit_course_path(@course.id) %></span></h1>
</div>

<table class="table table-striped">
  <tr>
    <th>User</th>
    <th>Price</th>
    <th>Registration Date</th>
  </tr>

<% @registrations.each do |registration| %>
  <tr>
    <td><%= registration.user.username %></td>
    <td>$<%= registration.price %></td>
    <td><%= registration.created_at.to_date.to_s(:long) %></td>
  </tr>
<% end %>
</table>



<%= link_to "Launch Modal",new_review_path, :data => {:toggle=>"modal", :target=>"#add_user_form"}, :class=>"btn"%>

<div id="add_user_form" class="modal" aria-hidden="true">
  <div class="modal-header">
    <h3>Add Comment</h3>
  </div>
  <div class="modal-body">
  </div>
  <div class="modal-footer">
     <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
     <button class="btn btn-primary" onclick="submit">Save changes</button>
   </div>
</div>


​