<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @registration.user_id %>
</p>

<p>
  <b>Course:</b>
  <%= @registration.course_id %>
</p>

<p>
  <b>Price:</b>
  <%= @registration.price %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
