<div class="blog-post">
  <% if @applied_filters.length > 0 %>
      <div class="row">
           <div class="span9">
                <b>Applied Filter: </b><span class="label label-important"><%= @applied_filters %></span>
          </div>
      </div>
  <% end %>
  <% @courses.each do |course| %>
        <div class="row">
         <div class="span9">
           <div class="blog-post">
           <div class="row">
             <div class="span9">
               <h3 class="post-title"><%= link_to course.title, course %>
               <% if course.price == 0.0 %>
                   <span class="price-color">- FREE</span>
               <% else %>
                   <span class="price-color">- $ <%= course.price %></span>
               <% end %>
               </h3>
             </div>
           </div>
           <div class="row">
             <div class="span9">
               <p>
                 <i class="icon-user"></i> by <%= link_to course.user.username, course %>
                 | <i class="icon-calendar"></i> <%= course.updated_at.to_date.to_s(:long) %>
                 | <%= course.rating %> stars of 5.0 (<%= course.no_of_reviews %> comments)
                 | <i class="icon-share"></i><%= course.no_of_registrations %> registered
                 <% if course.collection_id.nil? %>
                 <% else %>
                     | <i class="icon-folder-open"></i> <%= link_to course.collection_name, root_path(:collection_id =>  course.collection_id, :collection_name => course.collection_name) %><%=  %>
                 <% end %>
                 | <i class="icon-volume-up"></i> <%= course.language.name %>
               </p>
             </div>
           </div>
           <div class="row">
              <div class="span9">
                <p>
                  <% if course.tag_list.size > 0 %>
                      <i class="icon-tags"></i> Tags:
                      <% course.tag_list.each do |t| %>
                          <%= link_to t, tag_path(t), :class => "label label-info" %>
                      <% end %>
                  <% end %>
                </p>
              </div>
           </div>
           <div class="row">
             <div class="span2">
               <%= image_tag course.photo.url(), :size => "100x100", :class => 'thumbnail' %>
             </div>
             <div class="span7">
               <p>
                 <%= raw course.description %>
               </p>
             </div>
           </div>
           <div class="row">

           </div>
         </div>
         </div>
        </div>
        <hr>
  <% end %>
  <div class="row">
       <div class="span9">
          <%= will_paginate @courses, :container => false %>
       </div>
  </div>
</div>
