<div class="span9">
<%= semantic_form_for @lesson, :html => { :multipart => true } do |f| %>
  <%= f.inputs do %>
    <%= f.input :title,  :input_html => { :size => 50 } %>
    <%= f.input :description %>
    <%= f.input :course_id, :as => :hidden  %>
    <%= f.input :sequence, :as => :hidden %>
  <% end %>

  <%= f.actions do %>
    <%= f.action :submit, :as => :input, :label => 'Save' %>
  <% end %>
<% end %>

  <iframe width="560" height="315" src="http://www.youtube.com/embed/yR396LOgN4c?list=UUq0qP9Paooo2sO7MM-kW82w&amp;hl=en_US" frameborder="0" allowfullscreen></iframe>

  <iframe src="http://player.vimeo.com/video/26997890?title=0&amp;byline=0&amp;portrait=0&amp;badge=0&amp;color=313333" width="500" height="113" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe> <p><a href="http://vimeo.com/26997890">Le Repérage</a> from <a href="http://vimeo.com/reactivofilmes">REACTIVO</a> on <a href="http://vimeo.com">Vimeo</a>.</p>

  <a title="View Recipes From The Cancer-Fighting Kitchen by Rebecca Katz on Scribd" href="http://www.scribd.com/doc/69647166/Recipes-From-The-Cancer-Fighting-Kitchen-by-Rebecca-Katz" style="margin: 12px auto 6px auto; font-family: Helvetica,Arial,Sans-serif; font-style: normal; font-variant: normal; font-weight: normal; font-size: 14px; line-height: normal; font-size-adjust: none; font-stretch: normal; -x-system-font: none; display: block; text-decoration: underline;">Recipes From The Cancer-Fighting Kitchen by Rebecca Katz</a><iframe class="scribd_iframe_embed" src="http://www.scribd.com/embeds/69647166/content?start_page=1&view_mode=scroll&access_key=key-1fm8q7a4grg19x6qeg5s" data-auto-height="true" data-aspect-ratio="0.773989898989899" scrolling="no" id="doc_95043" width="100%" height="600" frameborder="0"></iframe>
</div>



