<div class="page-header">
<h1 class="page-title"><%= link_to @lesson.course.title, @lesson.course %> - <%= @lesson.title %>
</h1>
</div>

<% if !@lessons.nil? %>
    <div class="span3">
      <div class="widget">
          <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Table of Contents
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <div id="lessons">
                      <% count = 1 %>
                      <% @lessons.each do |l| %>
                         <%= link_to count.to_s() + '. ' + l.title, lessons_display_lesson_path(:course_id => l.course_id, :lesson_id => l.id ) %><br>
                         <% count = count + 1 %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
<% end %>

<div class="span9">
<div class="row">
  <div class="span9">
      <div class="well">
        <%= raw @lesson.description_html_version %>
      </div>

    <% if !@lesson.material_file_name.nil? %>
        <div id='my-video'></div>
        <script type='text/javascript'>
            jwplayer('my-video').setup({
                file: '<%= 'http://127.0.0.1:3000' + @lesson.material.url() %>',
                width: '700',
                height: '400'
            });
        </script>
    <% end %>



  </div>

</div>


</div>
