<div class="page-header">
<h1 class="page-title">
   <%= @lesson.title %>
</h1>
</div>

<div class="span9">
  <div class="row">
    <div class="well">
       <%= raw @lesson.description_html_version %>
    </div>

    <% if !@lesson.material_file_name.nil? %>
        <div id='my-video'></div>
        <script type='text/javascript'>
            jwplayer('my-video').setup({
                file: '<%= 'http://127.0.0.1:3000' + @lesson.material.url() %>',
                width: '700',
                height: '400'
            });
        </script>
    <% end %>
  </div>
</div>

<% if !@lessons.nil? %>
    <div class="span3">
      <div class="widget">
           <h5 class="sidebar-title">Details</h5>
           <ul class="unstyled">
               <li><i class="icon-book"></i><%= link_to @lesson.course.title, @lesson.course %></li>
               <% if @lesson_completion.empty? || @lesson_completion[0].status == 1  %>
                 <i class="icon-arrow-right"></i>In Progress
                 <li><small>(<%= link_to 'click', lessons_mark_complete_path(:course_id => @lesson.course.id, :lesson_id => @lesson.id) %> to complete</small>)</li>
               <% else %>
                 <li><i class="icon-ok"></i> on <%=  @lesson_completion[0].updated_at.to_date.to_s(:long) %></li>
                 <li><small>(<%= link_to 'click', lessons_mark_incomplete_path(:course_id => @lesson.course.id, :lesson_id => @lesson.id) %> to mark in progress</small>)</li>
               <% end %>
           </ul>
      </div>

        <div class="widget">
             <h5 class="sidebar-title">Table of Contents </h5>
             <ul class="unstyled">
              <li>
              </li>
               <% count = 1 %>
               <% @lessons.each do |l| %>
                  <li><%= link_to count.to_s() + '. ' + l.title, lessons_display_lesson_path(:course_id => l.course_id, :lesson_id => l.id ) %></li>
                  <% count = count + 1 %>
               <% end %>
             </ul>
        </div>
    </div>
<% end %>

