<div class="page-header">
<h1 class="page-title"><%= link_to @lesson.course.title, @lesson.course %> - <%= @lesson.title %>
</h1>
</div>

<% if !@lessons.nil? %>
    <div class="span3">
      <div class="widget">
          <div class="accordion" id="accordion2">
              <div class="accordion-group">
                <div class="accordion-heading">
                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                    Lessons
                  </a>
                </div>
                <div id="collapseOne" class="accordion-body collapse in">
                  <div class="accordion-inner">
                    <div id="lessons">
                      <% count = 1 %>
                      <% @lessons.each do |l| %>
                         <%= link_to count.to_s() + '. ' + l.title, lessons_display_lesson_path(:course_id => l.course_id, :lesson_id => l.id ) %><br>
                         <% count = count + 1 %>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
<% end %>

<div class="span9">
<div class="row">
  <div class="span9">
    <div class="row">
      <div class="well">
        <p class="lead"><%= raw @lesson.description %></p>
      </div>
    </div>

    <% if @lesson.materials.count > 0 %>
             <div class="span8">
                   <% @lesson.materials.each do |material| %>
                     <div class="row">
                       <% if material.content_type == 1 %>
                          <%= raw material.detail_content %>
                       <% elsif material.content_type == 2 %>
                          <%= raw material.embedded_content %>
                       <% else %>
                           <video class="sublime" width="640" height="360" poster="video-poster.jpg" preload="none">
                             <source src="<%= material.stored.url() %>" />
                           </video>
                       <% end %>
                     </div>
                   <% end %>
             </div>
    <% end %>


  </div>

</div>


</div>
