<div class="page-header">
<h1 class="page-title"><%= link_to @lesson.course.title, @lesson.course %> - <%= @lesson.title %>
</h1>
</div>

<div class="span3">
  <div class="widget">
      <div class="accordion" id="accordion2">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                Lessons
              </a>
            </div>
            <div id="collapseOne" class="accordion-body collapse in">
              <div class="accordion-inner">
                <div id="lessons">
                  <% @course.lessons.each do |l| %>
                     <li><%= link_to l.title, lesson_path(:course_id => @course.id) %></li>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
      </div>
  </div>
</div>

<div class="span9">
<div class="row">
  <div class="span9">
    <div class="row">
      <div class="well">
        <p class="lead"><%= raw @lesson.description %></p>
      </div>
    </div>

    <% if @lesson.materials.count > 0 %>
             <div class="span8">
                   <% @lesson.materials.each do |material| %>
                     <div class="row">
                       <% if material.content_type == 1 %>
                          <%= raw material.detail_content %>
                       <% elsif material.content_type == 2 %>
                          <%= material..embedded_content %>
                       <% else %>
                           <i class="icon-file"></i>
                       <% end %>
                     </div>
                   <% end %>
             </div>
    <% end %>


  </div>

</div>


</div>
