<h1>Authored Courses</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th>Title</th>
    <th>Description</th>
    <th>Price</th>
    <th>Enabled</th>
    <th>Collection</th>
    <th>Actions</th>
  </tr>
  </thead>

    <% @courses.each do |course| %>
      <tr>
        <td><%= image_tag course.photo.url(), :size => "100x100" %></td>
        <td><%= link_to course.title, course %></td>
        <td><%= course.description %></td>
        <td>$<%= course.price %></td>
        <td><%= course.enabled %></td>
        <td><%= course.collection_id %></td>
        <td>
          <%= link_to 'Edit', edit_course_path(course), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>

    <% end %>

</table>