<h1>Authored Courses</h1>
<div class="blog-post">

     <% @courses.each do |course| %>
       <div class="row">
        <div class="span9">
          <div class="blog-post">
          <div class="row">
            <div class="span9">
              <h3 class="post-title"><%= link_to course.title, course %>
                <% if course.price == 0.0 %>
                     <span class="price-color">- FREE</span>
                <% else %>
                     <span class="price-color">- $ <%= course.price %></span>
                <% end %>
              </h3>
            </div>
          </div>
          <div class="row">
            <div class="span9">
              <p>
                <i class="icon-user"></i> by <%= link_to course.user.username, course %>
                | <i class="icon-calendar"></i> <%= course.updated_at.to_date.to_s(:long) %>
                | <i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i>(<%= course.no_of_reviews %> comments)
                | <i class="icon-share"></i><%= course.no_of_registrations %> registered
                <% if course.collection_id.nil? %>
                <% else %>
                    | <i class="icon-calendar"></i> <%= course.collection.name %>
                <% end %>
                | <i class="icon-volume-up"></i> <%= course.language.name %>
              </p>
            </div>
          </div>
          <div class="row">
             <div class="span9">
               <p>
                 <% if course.tag_list.size > 0 %>
                     <i class="icon-tags"></i> Tags:
                     <% course.tag_list.each do |t| %>
                         <%= link_to t, tag_path(t), :class => "label label-info" %>
                     <% end %>
                 <% end %>
               </p>
             </div>
          </div>
          <div class="row">
            <div class="span2">
              <%= image_tag course.photo.url(), :size => "100x100", :class => 'thumbnail' %>
            </div>
            <div class="span7">
              <p>
                <%= raw course.description %>
              </p>
            </div>
          </div>
            <div class="row">
              <div class="span2"><p></p></div>
              <div class="span7">
                <%= link_to 'Edit', edit_course_path(course), :class => 'btn' %>
                <%= link_to 'Copy', edit_course_path(course), :class => 'btn btn-success' %>
                <%= link_to 'Lessons (' + course.lessons.count.to_s + ')', lessons_path(:course_id => course, :course_title => course.title), :class => 'btn btn-primary' %>
                <%= link_to 'Destroy', course, confirm: 'Are you sure?', method: :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
              </div>
            </div>
        </div>
        </div>
       </div>
       <hr>
    <% end %>
    <div class="row">
        <%= will_paginate @courses, :container => false %>
    </div>
</div>

