
<h2><%= @course.title %>
  <% if @course.price == 0.0 %>
       <span class="price-color">- FREE</span>
  <% else %>
       <span class="price-color">- $ <%= @course.price %></span>
  <% end %>
</h2>

<div class="row">
  <div class="span6">
    <p></p>

    <p class="lead"><%= image_tag @course.photo.url(), :size => "100x100", :class => 'img-polaroid' %> <%= @course.description %></p>

  </div>

  <div class="span3">
      <% if @is_user_registered %>
        <p><%= link_to 'Lessons', courses_register_path(@course), :class => 'btn btn-large btn-info' %></p>
        <%= link_to 'Write a Review', new_review_path(@course), :class => 'btn btn-large btn-warning' %>
      <% else %>
        <% if @course.price > 0 %>
            <%= link_to '$ ' + @course.price.to_s + ' - Register', courses_register_path(@course), :class => 'btn btn-large btn-success' %>
        <% else %>
            <%= link_to 'FREE - Register', courses_register_path(@course), :class => 'btn btn-large btn-success' %>
        <% end %>
      <% end %>
      <div class="widget">
           <h5 class="sidebar-title">Details </h5>
           <ul class="unstyled">
            <li>
            </li>
            <li><i class="icon-user"></i> by <%= link_to @course.user.username, @course %></li>
            <li><i class="icon-calendar"></i> <%= @course.updated_at.to_date.to_s(:long) %> </li>
            <li><i class="icon-volume-up"></i> <%= @course.language.name %></li>
            <li><i class="icon-comment"></i><%= @course.no_of_reviews %> comments</li>
            <li><i class="icon-share"></i><%= @course.no_of_registrations %> registered</li>
            <% if @course.collection_id.nil? %>
            <% else %>
                 <i class="icon-calendar"></i> <%= @course.collection.name %>
            <% end %>
            <li><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></li>
           </ul>
      </div>

      <div class="widget">
       <h5 class="sidebar-title">Tags </h5>
        <% if @course.tag_list.size > 0 %>
            <% @course.tag_list.each do |t| %>
                <%= link_to t, tag_path(t), :class => "label label-info" %>
            <% end %>
        <% end %>
      </div>

  </div>
</div>
<hr>

<% if @course.lessons.count > 0 %>

<div class="row">
  <h3>Lessons</h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Lesson</th>
      <th>Actions</th>
    </tr>
    </thead>

      <% @course.lessons.each do |lesson| %>
        <tr>
          <td><%= link_to lesson.title, lesson %><br><%= lesson.description %></td>
          <td>
            <%= link_to 'Launch', edit_course_path(lesson), :class => 'btn btn-mini' %>
          </td>
        </tr>

      <% end %>

  </table>
</div>

<hr>

<% end %>

<% if @course.reviews.count > 0 %>

    <div class="row">
      <h3>Comments</h3>

      <div class="span9">

        <table class="table table-striped">
          <thead>
          <tr>
            <th>Comment</th>
            <th>Author</th>
            <th>Rating</th>
          </tr>
          </thead>

            <% @course.reviews.each do |review| %>
              <tr>
                <td><%= review.comment %></td>
                <td><%= review.user.username %></td>
                <td><%= review.rating %></td> and Date
              </tr>

            <% end %>

        </table>
      </div>

    </div>

    <hr>
<% end %>

<div class="row">
        <div class="span8 well">

          <form accept-charset="UTF-8" action="" method="POST" class="comments-form">

          <p class="input-block">
          <label for="comment-name"><strong>Name</strong></label>
          <input type="text" name="name" placeholder="Name" value="" id="comment-name" required="">
          </p>

          <p class="input-block">
          <label for="comment-name"><strong>Email</strong></label>
          <input type="text" name="name" placeholder="Email" value="" id="comment-name" required="">
          </p>

          <p class="input-block">
          <label for="comment-name"><strong>Website</strong></label>
          <input type="text" name="name" placeholder="Website" value="" id="comment-name" required="">
          </p>


        <textarea class="span8" id="new_message" name="new_message" placeholder="Type in your comment" rows="5"></textarea>
        <button class="btn btn-info" type="submit">Post Comment</button>
    </form>
</div>
</div>
