<div class="page-header">
<h1 class="page-title"><%= @course.title %>
  <% if @course.price == 0.0 %>
       <span class="price-color">- FREE</span>
  <% else %>
       <span class="price-color">- $ <%= @course.price %></span>
  <% end %>
</h1>
</div>

<div class="span12">
<div class="row">
  <div class="span9">
    <div class="row">
        <p></p>
        <p class="lead"><%= image_tag @course.photo.url(), :size => "100x100", :class => 'img-polaroid' %> <%= raw @course.description %></p>
    </div>

    <% if @course.lessons.count > 0 %>
               <div class="row">
                 <h3>Table of Contents</h3>
                   <table class="table table-bordered table-hover">
                       <tr>
                           <th>No.</th>
                           <th>Title</th>
                           <th>Attached File</th>
                           <% if @is_user_registered %>
                             <th>Status</th>
                           <% end %>

                       </tr>

                       <% count = 1 %>
                       <% @course.lessons.each do |lesson| %>
                           <tr>
                             <td><%= count %>.</td>
                             <% if @is_user_registered %>
                                <td><%= link_to lesson.title, lessons_display_lesson_path(:course_id => lesson.course_id, :lesson_id => lesson.id ) %></td>
                             <% else %>
                                <td><%= lesson.title %></td>
                             <% end %>
                             <td>
                               <% if lesson.material_file_name.nil? %>
                                    none
                               <% else %>
                                   <%= image_tag(Ckeditor::Utils.filethumb(lesson.material_file_name), :size => "20x20") %>
                                   <%= lesson.material_file_name %>
                               <% end %>
                             </td>
                             <% if @is_user_registered %>
                                 <% lesson_completion = nil %>
                                 <% if !@all_completion.empty? %>
                                     <% lesson_completion = @all_completion.detect{|c| c.lesson_id == lesson.id} %>
                                 <% end %>
                                 <% if lesson_completion.nil?  %>
                                     <td>-</td>
                                 <% elsif lesson_completion.status == 1 %>
                                     <td><i class="icon-arrow-right"></i> In Progress</td>
                                 <% else %>
                                     <td><i class="icon-ok"></i> Complete <small>(on <%= lesson_completion.updated_at.to_date.to_s(:long) %>)</small></td>
                                 <% end %>

                             <% end %>
                           </tr>
                           <% count = count + 1 %>
                       <% end %>
                   </table>
               </div>
    <% end %>

    <% if @course.reviews.count > 0 %>
        <a id="comments"></a>
        <br><br><br><br>
        <div class="row">
          <h3>Comments (<%= @course.reviews.count %>)</h3>

            <% @course.reviews.each do |review| %>

                <div class="comment-meta">
                  <%= link_to review.user.username, @review %> - <%= review.created_at.to_date.to_s(:long) %>
                  <% if review.rating == 1.0 %>
                    <p><i class="icon-star"></i></p>
                  <% elsif review.rating == 2.0 %>
                    <p><i class="icon-star"></i><i class="icon-star"></i></p>
                  <% elsif review.rating == 3.0 %>
                    <p></p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></p>
                  <% elsif review.rating == 4.0 %>
                    <p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></p>
                  <% elsif review.rating == 5.0 %>
                    <p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></p>
                  <% end %>
                </div>
                <div class="comment-body">
                  <p><%= review.comment %></p>
                </div>
            <% end %>

        </div>

        <hr>
    <% end %>

    <% if @is_user_registered %>
        <br><br><br><br>
        <a id="post_comment"></a>
        <div class="row">

            <div class="well">

              <%= semantic_form_for @review, :html => { :multipart => true } do |f| %>
                <%= f.inputs do %>
                  <%= f.input :rating, :as => :select, :collection => [["1 star", 1], ["2 stars", 2], ["3 stars", 3], ["4 stars", 4], ["5 stars", 5]], :input_html => { :class => "span2"}%>
                  <%= f.input :comment, :input_html => { :class => "span8"} %>
                  <%= f.input :course_id, :as => :hidden  %>
                  <%= f.input :user_id, :as => :hidden %>
                <% end %>

                <%= f.actions do %>
                  <%= f.action :submit, :as => :input, :label => 'Post Comment' %>
                <% end %>
              <% end %>
           </div>
        </div>
    <% end %>

  </div>

  <div class="span3">
      <% if @is_user_registered %>
        <p><%= link_to 'Launch Lessons', lessons_display_lesson_path(:course_id => @course.id, :lesson_id => @course.lessons[0].id), :class => 'btn btn-info' %></p>
        <p><%= link_to 'Post a comment', {:anchor => 'post_comment'}, :class => 'btn btn-warning' %></p>
      <% else %>
        <% if @course.price > 0 %>
            <%= link_to '$ ' + @course.price.to_s + ' - Register', courses_register_path(@course), :class => 'btn btn-success' %>
        <% else %>
            <%= link_to 'FREE - Register', courses_register_path(@course), :class => 'btn btn-success' %>
        <% end %>
      <% end %>
      <div class="widget">
           <h5 class="sidebar-title">Details </h5>
           <ul class="unstyled">
            <li>
            </li>
            <li><i class="icon-user"></i> by <%= link_to @course.user.username, home_userinfo_path(:username => @course.user.username) %></li>
            <li><i class="icon-calendar"></i> <%= @course.updated_at.to_date.to_s(:long) %> </li>
            <li><i class="icon-volume-up"></i><%= link_to  @course.language.name, root_path(:language_name =>  @course.language.name) %></li>
            <li><i class="icon-comment"></i><%= link_to @course.no_of_reviews, {:anchor => 'comments'} %> comments </li>
            <li><%= @course.rating %> stars of 5.0</li>
            <li><i class="icon-share"></i><%= @course.no_of_registrations %> registered</li>
            <% if @course.collection_id.nil? %>
            <% else %>
                 <i class="icon-calendar"></i><%= link_to @course.collection_name, root_path(:collection_id =>  @course.collection_id, :collection_name => @course.collection_name) %>
            <% end %>
            <% if @is_user_registered %>
                 <% if !@all_completion.empty? %>
                     <% course_completion = @all_completion.detect{|c| c.lesson_id.nil?} %>
                 <% end %>
                 <% if @all_completion.empty? || course_completion.status == 1  %>
                     <i class="icon-arrow-right"></i>In Progress
                     <li><small>(<%= link_to 'click', courses_mark_complete_path(:course_id => @course.id) %> to complete</small>)</li>
                 <% else %>
                     <li><i class="icon-ok"></i> on <%=  course_completion.updated_at.to_date.to_s(:long) %></li>
                     <li><small>(<%= link_to 'click', courses_mark_incomplete_path(:course_id => @course.id) %> to mark in progress</small>)</li>
                 <% end %>
            <% end %>

           </ul>
      </div>

      <div class="widget">
       <h5 class="sidebar-title">Tags </h5>
        <% if @course.tag_list.size > 0 %>
            <% @course.tag_list.each do |t| %>
                <%= link_to t, tag_path(t), :class => "label label-info" %>
            <% end %>
        <% end %>
      </div>

      <div class="widget">
        <h5 class="sidebar-title">Share </h5>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-508ed2dd07037dfe"></script>
        <!-- AddThis Button END -->
      </div>
      <% if @recommended_courses.length > 0 %>
          <h5 class="sidebar-title">Recommended Courses</h5>
          <div class="well">
              <table class="table table-striped">
                <% @recommended_courses.each do |course| %>
                    <tr>
                        <td width="40%"><%= image_tag course.photo.url(), :size => "50x50", :class => 'img-polaroid' %></td>
                        <td width="60%"><%= link_to course.title, course %><br><%= course.no_of_registrations %> registered<br><%= course.rating %> stars<br>by <%= link_to course.user.username, course %></td>
                    </tr>
                <% end %>
              </table>
          </div>
      <% end %>

  </div>
</div>


</div>
