
<h2><%= @course.title %>
  <% if @course.price == 0.0 %>
       <span class="price-color">- FREE</span>
  <% else %>
       <span class="price-color">- $ <%= @course.price %></span>
  <% end %>
</h2>

<div class="span12">
<div class="row">
  <div class="span9">
    <div class="row">
    <p></p>
    <p class="lead"><%= image_tag @course.photo.url(), :size => "100x100", :class => 'img-polaroid' %> <%= raw @course.description %></p>
    </div>
    <hr>

    <% if @course.lessons.count > 0 %>

    <div class="row">
      <h3>Lessons</h3>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Lesson</th>
          <th>Actions</th>
        </tr>
        </thead>

          <% @course.lessons.each do |lesson| %>
            <tr>
              <td><%= link_to lesson.title, lesson %><br><%= lesson.description %></td>
              <td>
                <%= link_to 'Launch', edit_course_path(lesson), :class => 'btn btn-mini' %>
              </td>
            </tr>

          <% end %>

      </table>
    </div>

    <hr>

    <% end %>

    <% if @course.reviews.count > 0 %>

        <div class="row">
          <h3>Comments (<%= @course.reviews.count %>)</h3>

            <% @course.reviews.each do |review| %>

                <div class="comment-meta">
                  <%= link_to review.user.username, @review %> - <%= review.created_at.to_date.to_s(:long) %>
                  <% if review.rating == 1.0 %>
                    <p><i class="icon-star"></i></p>
                  <% elsif review.rating == 2.0 %>
                    <p><i class="icon-star"></i><i class="icon-star"></i></p>
                  <% elsif review.rating == 3.0 %>
                    <p></p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></p>
                  <% elsif review.rating == 4.0 %>
                    <p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></p>
                  <% elsif review.rating == 5.0 %>
                    <p><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></p>
                  <% end %>
                </div>
                <div class="comment-body">
                  <p><%= review.comment %></p>
                </div>
            <% end %>

        </div>

        <hr>
    <% end %>

    <% if @is_user_registered %>

        <a id="post_comment"></a>
        <div class="row">
            <div class="well">

              <%= semantic_form_for @review, :html => { :multipart => true } do |f| %>
                <%= f.inputs do %>
                  <%= f.input :rating, :as => :select, :collection => [["1 star", 1], ["2 stars", 2], ["3 stars", 3], ["4 stars", 4], ["5 stars", 5]]%>
                  <%= f.input :comment %>
                  <%= f.input :course_id, :as => :hidden  %>
                  <%= f.input :user_id, :as => :hidden %>
                <% end %>

                <%= f.actions do %>
                  <%= f.action :submit, :as => :input, :label => 'Post Comment' %>
                <% end %>
              <% end %>
           </div>
        </div>
    <% end %>

  </div>

  <div class="span3">
      <% if @is_user_registered %>
        <p><%= link_to 'Lessons', courses_register_path(@course), :class => 'btn btn-large btn-info' %></p>
        <%= link_to 'Post a comment', {:anchor => 'post_comment'}, :class => 'btn btn-large btn-warning' %>
      <% else %>
        <% if @course.price > 0 %>
            <%= link_to '$ ' + @course.price.to_s + ' - Register', courses_register_path(@course), :class => 'btn btn-large btn-success' %>
        <% else %>
            <%= link_to 'FREE - Register', courses_register_path(@course), :class => 'btn btn-large btn-success' %>
        <% end %>
      <% end %>
      <div class="widget">
           <h5 class="sidebar-title">Details </h5>
           <ul class="unstyled">
            <li>
            </li>
            <li><i class="icon-user"></i> by <%= link_to @course.user.username, @course %></li>
            <li><i class="icon-calendar"></i> <%= @course.updated_at.to_date.to_s(:long) %> </li>
            <li><i class="icon-volume-up"></i> <%= @course.language.name %></li>
            <li><i class="icon-comment"></i><%= @course.no_of_reviews %> comments</li>
            <li><%= @course.rating %> stars of 5.0</li>
            <li><i class="icon-share"></i><%= @course.no_of_registrations %> registered</li>
            <% if @course.collection_id.nil? %>
            <% else %>
                 <i class="icon-calendar"></i> <%= @course.collection.name %>
            <% end %>
           </ul>
      </div>

      <div class="widget">
       <h5 class="sidebar-title">Tags </h5>
        <% if @course.tag_list.size > 0 %>
            <% @course.tag_list.each do |t| %>
                <%= link_to t, tag_path(t), :class => "label label-info" %>
            <% end %>
        <% end %>
      </div>

      <div class="widget">
        <h5 class="sidebar-title">Share </h5>
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style">
        <a class="addthis_button_preferred_1"></a>
        <a class="addthis_button_preferred_2"></a>
        <a class="addthis_button_preferred_3"></a>
        <a class="addthis_button_preferred_4"></a>
        <a class="addthis_button_compact"></a>
        <a class="addthis_counter addthis_bubble_style"></a>
        </div>
        <script type="text/javascript" src="http://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-508ed2dd07037dfe"></script>
        <!-- AddThis Button END -->
      </div>
      <% if @recommended_courses.length > 0 %>
          <h5 class="sidebar-title">Recommended Courses</h5>
          <div class="well">
              <table class="table table-striped">
                <% @recommended_courses.each do |course| %>
                    <tr>
                        <td width="40%"><%= image_tag course.photo.url(), :size => "50x50", :class => 'img-polaroid' %></td>
                        <td width="60%"><%= link_to course.title, course %><br><%= course.no_of_registrations %> registered<br><%= course.rating %> stars<br>by <%= link_to course.user.username, course %></td>
                    </tr>
                <% end %>
              </table>
          </div>
      <% end %>

  </div>
</div>


</div>
