<div class="page-header">
  <% if @lesson.nil? %>
    <h1 class="page-title">My Materials</h1>
  <% else %>
    <h1 class="page-title">Select Material - <%= @lesson.title %></h1>
  <% end %>
</div>

<div class="blog-post">
     <div class="span12">
       <% @materials.each do |material| %>
           <div class="row">
             <p>
               <% if material.content_type == 1 %>
                   <span class="label label-success">stored - rich text</span>
               <% elsif material.content_type == 2 %>
                   <span class="label label-success">linked from sites</span>
               <% else %>
                   <span class="label label-success">stored - file</span>
               <% end %>
               | <i class="icon-calendar"></i> <%= material.updated_at.to_date.to_s(:long) %>
               | <i class="icon-share"></i><%= material.lesson_ids.count %> associated lessons
             </p>
           </div>
           <div class="row">
              <p>
                <% if material.content_type == 1 %>
                    <%= raw material.detail_content %>
                <% elsif material.content_type == 2 %>
                    <%= raw material.embedded_content %>
                <% else %>
                    <%= material.stored_file_name %> -
                    <%= material.stored_content_type %>
                <% end %>
              </p>
           </div>
           <div class="row">
                  <div class="span2"><p></p></div>
                  <div class="span10">
                    <% if @lesson.nil? %>
                        <%= link_to 'Edit', edit_material_path(material), :class => 'btn' %>
                        <%= link_to 'Show', material, :class => 'btn btn-success' %>
                        <%= link_to 'Lessons (' + material.lesson_ids.count.to_s() + ')', material, :class => 'btn btn-primary' %>
                        <%= link_to 'Destroy', material, confirm: 'Are you sure?', method: :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
                    <% else %>
                        <%= link_to 'Select', lessons_associate_material_path(:lesson_id => @lesson.id, :material_id => material.id), :class => 'btn btn-success' %>
                    <% end %>
                  </div>
            </div>
            <hr>
       <% end %>
     </div>
</div>

<% if @lesson.nil? %>
    <br>
    <%= link_to 'Add Material', new_material_path, :class => 'btn btn-primary' %>
<% end %>