<div class="page-header">
  <% if @course.nil? %>
    <h1 class="page-title">My Materials</h1>
  <% else %>
    <h1 class="page-title">Step 1 - Select or Add Material</h1>
  <% end %>
</div>

<table class="table table-bordered table-hover">
  <tr>
    <th>Type</th>
    <th>Content</th>
    <th>Upload Date/Time</th>
    <th>Associated Lessons</th>
    <th>Actions</th>
  </tr>

<% @materials.each do |material| %>
  <tr>
    <td>
      <% if material.content_type == 1 %>
          <span class="label label-success">Text</span>
      <% elsif material.content_type == 2 %>
          <span class="label label-success">Link</span>
      <% else %>
          <span class="label label-success">File</span>
      <% end %>
    </td>
    <td>
      <% if material.content_type == 1 %>
          <%= raw material.detail_content %>
          <%= raw material.html_version %>
      <% elsif material.content_type == 2 %>
          <%= raw material.embedded_content.gsub("width=\"560\" height=\"315\"", "width=\"100\" height=\"100\"") %>
      <% else %>
          <%= image_tag(Ckeditor::Utils.filethumb(material.stored_file_name), :size => "20x20") %>
          <%= material.stored_file_name %> -
          <%= material.stored_content_type %>
      <% end %>
    </td>
    <td><%= material.updated_at.to_datetime.to_s(:long) %></td>
    <td><%= material.lesson_ids.count %></td>
    <td>
      <% if @course.nil? %>
          <%= link_to 'Edit', edit_material_path(material), :class => 'btn  btn-mini' %>
          <%= link_to 'Destroy', material, confirm: 'Are you sure?', method: :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger btn-mini' %>
      <% else %>
          <%= link_to 'Select', edit_material_path(material), :class => 'btn  btn-mini' %>
      <% end %>
    </td>
  </tr>
<% end %>
</table>

<% if @lesson.nil? %>
    <br>
    <%= link_to 'Add Material', new_material_path, :class => 'btn btn-primary' %>
<% end %>