<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vavant</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/"><i class="icon-film icon-white"></i> Vavant</a>
        <div class="nav-collapse collapse">
            <ul class="pull-right nav">
              <li <% if current_page? new_course_path %> class="active" <% end %>><%= link_to "Create Course", new_course_path %></li>
              <% if user_signed_in? %>
                <li <% if current_page? edit_user_registration_path %> class="active" <% end %>><%= link_to "My Account", edit_user_registration_path %></li>
                <li <% if current_page? destroy_user_session_path %> class="active" <% end %>><%= link_to "Sign Out", destroy_user_session_path %></li>
              <% else %>
                <li <% if current_page? new_user_registration_path %> class="active" <% end %>><%= link_to "Sign Up", new_user_registration_path %></li>
                <li <% if current_page? new_user_session_path %> class="active" <% end %>><%= link_to "Sign In", new_user_session_path %></li>
              <% end %>
            </ul>
        </div>
        <form class="navbar-search">
          <input type="text" class="search-query" placeholder="Find Courses">
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span3">
        <div class="well sidebar-nav">
                  <ul class="nav nav-list">
                    <li class="nav-header">Sidebar</li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="nav-header">Sidebar</li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="nav-header">Sidebar</li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                  </ul>
        </div><!--/.well -->
      </div>
      <div class="span9">
        <% if !notice.nil? || !alert.nil? %>
            <% if !notice.nil? %>
                <p class="alert"><%=  notice %></p>
            <% end %>
            <% if !alert.nil? %>
                <p class="alert"><%=  alert %></p>
            <% end %>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <hr>

      <footer>
        &copy; Company 2012 | <a href="#">Link</a> | <a href="#">Link</a> | <a href="#">Link</a>
      </footer>
  </div>

</body>
</html>
