<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vavant</title>
  <%= stylesheet_link_tag    "font-awesome", "style", "colorbox", "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="brand" href="/">vavant</a>
        <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li><%= link_to "Create Course", new_course_path %></li>
              <% if user_signed_in? %>
                  <li class='dropdown-toggle' data-toggle='dropdown'><%= link_to current_user.username, '' %></li>
                      <ul class="dropdown-menu">
                        <li><%= link_to "Profile", edit_user_registration_path %></li>
                        <li class="divider"></li>
                        <li><%= link_to "Authored Courses", courses_authored_path %></li>
                        <li><%= link_to "Registered Courses", courses_registered_path %></li>
                        <li class="divider"></li>
                        <li><%= link_to "Sign Out", destroy_user_session_path %></li>
                      </ul>
              <% else %>
                <li><%= link_to "Sign Up", new_user_registration_path %></li>
                <li><%= link_to "Sign In", new_user_session_path %></li>
              <% end %>
            </ul>
            <form class="navbar-search">
              <input type="text" class="search-query" placeholder="Find Courses" name="find_course_by">
            </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span3">
        <div class="widget">
        <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  Tags
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <div id="tag_cloud">
                    <% tag_cloud Course.tag_counts, %w{s m l} do |tag, css_class| %>
                      <%= link_to tag.name, tag_path(tag.name), class: css_class %>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  Price Range
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                  <ul class="unstyled">
                   <li><a href="#">Free</a> </li>
                   <li><a href="#">$0.99 - $5.99</a> </li>
                   <li><a href="#">$5.99 - $10.99</a> </li>
                   <li><a href="#">$10.99 and more</a> </li>
                  </ul>
                </div>
              </div>
            </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
                Language
              </a>
            </div>
            <div id="collapseThree" class="accordion-body collapse">
              <div class="accordion-inner">
                <ul class="unstyled">
                 <li><a href="#">English</a> </li>
                 <li><a href="#">French</a> </li>
                 <li><a href="#">German</a> </li>
                 <li><a href="#">Spanish</a> </li>
                 <li><a href="#">Italian</a> </li>
                </ul>
              </div>
            </div>
          </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
                  Ratings
                </a>
              </div>
              <div id="collapseFour" class="accordion-body collapse">
                <div class="accordion-inner">
                  <ul class="unstyled">
                   <li><a href="#"><i class="icon-star"></i></a> </li>
                   <li><a href="#"><i class="icon-star"></i><i class="icon-star"></i></a> </li>
                   <li><a href="#"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i></a> </li>
                   <li><a href="#"><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> and more</a> </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>


</div>


      </div>
      <div class="span9">
        <% flash.each do |name, msg| %>
          <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
            <a class="close" data-dismiss="alert">x</a>
            <%= msg  %>
          </div>
        <% end %>
        <%= yield %>
      </div>
    </div>
    <hr>

      <footer>
        &copy; Company 2012 | <%= link_to 'what is vavant', home_whatis_path %> | <a href="#">About Us</a> | <a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a> | <a href="#">Contact Us</a>
      </footer>
  </div>

</body>
</html>
